<div class="home__container">
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Game of the Year"
    gameType="Multi"
    gamePrice="$29,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gameType="PS4"
    gamePrice="$129,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Exclusive"
    gameType="PS4 | PS5"
    gamePrice="$9,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="$29,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="$12,99"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="Digital"
    gameType="PS4"
    gamePrice="$19,99"
  ></app-card>
</div>
